.video-player {
  position: relative;
  width: 100%;
  background-color: #000;
  border-radius: 1rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 1rem 0;
  padding: 0.2rem;
}

.video {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 1rem;
}

.time-display {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  align-items: center;
}

input[type="range"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  outline: none;
  cursor: pointer;
}

.seek-bar {
  border-radius: 8px;
  height: 0.5rem;
  width: 100%;
  outline: none;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
}

.move-controls,
.volume-control {
  display: flex;
  align-items: center;
  justify-content: center;
}

.move-controls button,
.volume-control button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--color-BtnBg);
  transition: background-color 0.3s;
  border: none;
}

.move-controls button:hover,
.volume-control button:hover {
  background: var(--color-primaryHover);
  transform: scale(1.1);
  border: none;
  outline: none;
}

.move-controls button:active,
.volume-control button:active {
  background: var(--color-clc);
  transform: scale(1);
  border: none;
  outline: none;
}

.volume-bar {
  width: 6rem;
  border-radius: 0.375rem;
  height: 0.375rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.move-controls button svg,
.volume-control button svg {
  transition: all 0.3s ease;
  border: none;
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1rem;
  height: 1rem;
  background: #82cfd0;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 1rem;
  height: 1rem;
  background: #82cfd0;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-ms-thumb {
  width: 1rem;
  height: 1rem;
  background: #82cfd0;
  border-radius: 50%;
  cursor: pointer;
}

/* media */

@media (min-width: 320px) {
  .move-controls,
  .volume-control {
    gap: 0.3rem;
    padding: 0.3rem 0;
  }
  .move-controls button,
  .volume-control button {
    width: 1.5rem;
    height: 1.5rem;
  }

  button svg {
    width: 1rem;
    height: 1rem;
  }

  .time-display span {
    font-size: 0.5rem;
  }
}


@media (min-width: 375px) {
  .move-controls,
  .volume-control {
    gap: 0.4rem;
    padding: 0.5rem 0;
  }
  .move-controls button,
  .volume-control button {
    width: 2rem;
    height: 2rem;
  }

  button svg {
    width: 1.5rem;
    height: 1.5rem;
  }
  .time-display span {
    font-size: 0.8rem;
  }
}


@media (min-width: 768px) {
  .video-player {
    max-width: calc(30rem + 10vw);
  }

  .controls {
    padding: 0 0.2rem;
  }
  .move-controls,
  .volume-control {
    gap: 1rem;
    padding: 1rem 0;
  }
  .move-controls button,
  .volume-control button {
    width: 2.2rem;
    height: 2.2rem;
  }

  button svg {
    width: 1.8rem;
    height: 1.8rem;
  }

  .time-display span {
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
  .video-player {
    max-width: calc(35rem + 10vw);
  }
  .move-controls button,
  .volume-control button {
    width: 3rem;
    height: 3rem;
  }

  button svg {
    width: 2rem;
    height: 2rem;
  }
}

@media (min-width: 1440px) {
  .video-player {
    max-width: calc(30rem + 10vw);
  }

  .controls {
    padding: 0 2rem;
  }

  .move-controls button,
  .volume-control button {
    width: 3rem;
    height: 3rem;
  }

  button svg {
    width: 2rem;
    height: 2rem;
  }
}

@media (min-width: 1900px) {
  .video-player {
    max-width: calc(60rem + 10vw);
  }
}
